{:lint-as {fr.jeremyschoffen.datastar.utils/defroutes clojure.core/def
           starfederation.datastar.clojure.utils/transient-> clojure.core/->}
 :hooks
 {:analyze-call
  {test.utils/with-server hooks.test-hooks/with-server}}
 :linters {:redundant-ignore {:exclude [:clojure-lsp/unused-public-var]}}}
