{:paths   ["src/main"]
 :deps    {dev.data-star.clojure/sdk            {:mvn/version "1.0.0-RC8"}
           org.ring-clojure/ring-core-protocols {:mvn/version "1.15.3"}}
 :aliases {:build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.12"
                                                               :git/sha "97c5562"}
                                slipset/deps-deploy           {:mvn/version "0.2.2"}}
                   :ns-default build}
           :neil  {:project {:name    dev.data-star.clojure/ring
                             :version "1.0.0-RC8"
                             :description "Ring adapter for the Datastar SDK"}}}}
