{:paths ["src/main"]
 :deps {dev.data-star.clojure/sdk {:mvn/version "1.0.0-RC8"}
        metosin/malli             {:mvn/version "0.20.1"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.13"
                                                         :git/sha "ae52edf"}
                          slipset/deps-deploy {:mvn/version "0.2.3"}}
                   :ns-default build}
           :neil  {:project {:name    dev.data-star.clojure/malli-schemas
                             :version "1.0.0-RC8"
                             :description "Malli schemas for the Datastar SDK"}}}}
