{:paths ["src/main"]
 :deps {com.aayushatharva.brotli4j/brotli4j            {:mvn/version "1.20.0"}
        dev.data-star.clojure/sdk                      {:mvn/version "1.0.0-RC3"}
        io.netty/netty-buffer                          {:mvn/version "4.2.6.Final"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.10"
                                                         :git/sha "deedd62"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}
           :neil  {:project {:name    dev.data-star.clojure/brotli
                             :description "Brotli compression helpers for the Datastar SDK"
                             :version "1.0.0-RC3"}}}}
