{:paths   ["src/main" "resources"]
 :aliases {:build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.12"
                                                               :git/sha "97c5562"}
                                slipset/deps-deploy           {:mvn/version "0.2.2"}}
                   :ns-default build}
           :neil  {:project {:name    dev.data-star.clojure/sdk
                             :version "1.0.0-RC8"
                             :description "Datastar SDK for Clojure"}}}}
