{:paths ["src/main"]
 :deps {dev.data-star.clojure/sdk {:mvn/version "1.0.0-RC8"}
        aleph/aleph {:mvn/version "0.9.5"}}

 :aliases {:build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.10"
                                                               :git/sha "deedd62"}
                                slipset/deps-deploy           {:mvn/version "0.2.2"}}
                   :ns-default build}
           :neil  {:project {:name    dev.data-star.clojure/aleph
                             :version "1.0.0-RC8"
                             :description "Aleph adapter for the Datastar SDK"}}}}
